%btn {
    padding: rem(14px 20px);
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 24px;

    @media (max-width: 1600px) {
        padding: rem(12px 18px);
    }

    @include media-breakpoint-down(md) {
        padding: rem(8px 16px);
        font-size: rem(14px);
    }
}

%btn-accent {
    @extend %btn;
    background-color: $accent;
    color: #fff;
}

%btn-light {
    @extend %btn;
    background-color: $graylight;
    color: $dark;
    transition: 350ms;

    &:disabled {
        color: #d6dbe2;
        transition: 350ms
    }
}

%btn-white {
    @extend %btn;

    background: #ffffff;
    color: #714cdd;
}

%carousel-control {
    width: 50px;
    height: 50px;
    background: #fff;
    border-radius: 50%;
    z-index: 10;
    box-shadow: -3px -2px 10px -5px rgba(69, 79, 132, 0.4);
    transition: 350ms;
    position: relative;

    img {
        width: 90%;
        height: 90%;
        max-width: 24px;
        max-height: 24px;
    }

    &::before {
        content: '';
        position: absolute;
        width: calc(100% + 8px);
        height: calc(100% + 8px);
        left: -4px;
        top: -4px;
        border-radius: 50%;
        background-color: #fff;
        z-index: -1;
        pointer-events: none;
        opacity: 0;
        transition: 350ms;
        border: 4px solid #dde5ec;
    }

    &:hover {
        transition: 350ms;

        &::before {
            opacity: 1;
            transition: 350ms;
        }
    }

    @include media-breakpoint-down(lg) {
        width: 35px;
        height: 35px;
    }
}
