$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1247px,
);

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'sass-rem/rem';
@import 'variables';
@import 'buttons';

@mixin unlist {
    list-style: none;
    padding: 0;
    margin: 0;
}

@mixin p_type_1 {
    font-size: rem(32px);
    line-height: 130%;
    letter-spacing: -0.005em;

    @include media-breakpoint-down(lg) {
        font-size: rem(28px);
    }

    @include media-breakpoint-down(md) {
        font-size: rem(18px);
        letter-spacing: -0.005em;
    }
}

@mixin p_type_2 {
    font-size: rem(28px);
    line-height: 130%;
    letter-spacing: 0.01em;

    @include media-breakpoint-down(lg) {
        font-size: rem(24px);
    }

    @include media-breakpoint-down(md) {
        font-size: rem(16px);
    }
}

@mixin p_type_3 {
    font-weight: 300;
    font-size: rem(18px);
    line-height: 120%;
    letter-spacing: 0.01em;

    @include media-breakpoint-down(md) {
        font-size: rem(14px);
    }
}

@mixin noise {
    &::after {
        content: '';
        background-image: url('@/assets/noise.svg');
        width: 100%;
        height: 100%;
        background-repeat: repeat;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }
}

@mixin h1 {
    font-weight: 900;
    font-size: rem(64px);
    line-height: 120%;
    letter-spacing: -0.005em;
    font-family: 'StyreneAWeb', sans-serif;

    @include media-breakpoint-down(lg) {
        font-size: rem(38px);
    }
}

@mixin h2 {
    font-weight: 900;
    font-size: rem(48px);
    line-height: 120%;
    letter-spacing: -0.005em;
    font-family: 'StyreneAWeb', sans-serif;

    @include media-breakpoint-down(lg) {
        font-size: rem(32px);
    }
}

@mixin h3 {
    font-weight: 900;
    font-size: rem(36px);
    line-height: 120%;
    letter-spacing: -0.005em;
    font-family: 'StyreneAWeb', sans-serif;

    @include media-breakpoint-down(lg) {
        font-size: rem(26px);
    }
}

@mixin h4 {
    font-weight: 900;
    font-size: rem(24px);
    line-height: 130%;
    letter-spacing: 0.01em;
    font-family: 'StyreneAWeb', sans-serif;

    @include media-breakpoint-down(lg) {
        font-size: rem(22px);
    }
}

@mixin h5 {
    font-weight: 900;
    font-size: rem(20px);
    line-height: 130%;
    letter-spacing: 0.01em;
    font-family: 'StyreneAWeb', sans-serif;
}
