@import './variables';

html {
    font-size: 16px;
    overflow: auto;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        width: 0;
    }

    @include media-breakpoint-down(xxl) {
        font-size: 13px;
    }

    @include media-breakpoint-down(md) {
        font-size: 14px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }

    &.locked {
        overflow: hidden;
    }
}

body {
    color: $dark;
    font-family: 'Didact Gothic', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(180deg, #160d1f -4.22%, #140c1b 100%);
}

a {
    &:hover {
        color: $accent;
    }
}

.container {
    padding: rem(0 32px);
}

.fp-watermark {
    display: none !important;
}

:root {
    scroll-behavior: auto;
}