@import './variables';

html {
    font-size: 16px;
    overflow: auto;

    @include media-breakpoint-down(xxl) {
        font-size: 13px;
    }

    @include media-breakpoint-down(lg) {
        font-size: 14px;
    }

    &.locked {
        overflow: hidden;
    }
}

body {
    color: $dark;
    font-family: 'Didact Gothic', sans-serif;
    overflow-x: hidden;
    background: linear-gradient(180deg, #160d1f -4.22%, #140c1b 100%);
}

a {
    &:hover {
        color: $accent;
    }
}
